<div class="main-content">
    <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Driver Behavior</h4>
              <p class="card-category">Created by Treetronix</p>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">SCORING</p>
                        <h3 class="card-title">49</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            
                            <a href="javascript:void(0)">DriverBehavior score</a>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Daily Driving </h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today Driving.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Completed Tasks</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Liste of subscribers</h4>
                        
                        <form class="navbar-form">
                          <div class="input-group no-border">
                              <input type="text" value="" class="form-control" placeholder="Search...">
                              <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                                  <i class="material-icons">search</i>
                                  <div class="ripple-container"></div>
                              </button>
                          </div>
                      </form>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      CIN
                                  </th>
                                  <th>
                                    Score  maxSpeed
                                  </th>
                                  <th>
                                    Score For stdevspeed 
                                  </th>
                                  <th>
                                    Score For meanSpeed
                                </th>
                                <th>
                                    Score For harshAcceleration
                                </th>
                                <th>
                                    Score For harshBraking
                                </th>
                                <th>
                                    Driver Behavior Score 
                                </th>
                                <th>
                                    Classification
                                </th>

                              </thead>
                              <tbody>
                                  <tr *ngFor="let response of scores">
                                      <td>
                                         {{response.scoreDrivingBehaviou.id}}
                                      </td>
                                      <td>
                                        {{response.user.firstName}} {{response.user.lastName}} 
                                      </td>
                                      <td>
                                        {{response.user.cin}}
                                      </td>
                                      <td>
                                        {{response.scoreDrivingBehaviou.scoremaxSpeed}}
                                      </td>
                                      <td class="text-primary">
                                       
                                        {{response.scoreDrivingBehaviou.scorestdSpeed}}
                                      
                                      </td>
                                      <td>
                                      
                                        {{response.scoreDrivingBehaviou.scoremeanSpeed}}
                                      
                                    </td>
                                    <td>
                                      
                                        {{response.scoreDrivingBehaviou.scoreharchAcceleration}}
                                      
                                    </td>
                                    <td>
                                      
                                        {{response.scoreDrivingBehaviou.scoreharchBraking}}
                                      
                                    </td>
                                    <td>
                                      
                                        {{response.scoreDrivingBehaviou.scoreDrivingBehaviour}}
                                      
                                    </td>
                                    <td>
                                      
                                        {{response.scoreDrivingBehaviou.classtification}}
                                      
                                    </td>
  
                                  </tr>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          
                                      </td>
                                      <td>
                                          
                                      </td>
                                      <td>
                                          
                                      </td>
                                      <td class="text-primary">
                                          
                                      </td>
                                      <td>
                                        
                                    </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          
                                      </td>
                                      <td>
                                          
                                      </td>
                                      <td>
                                         
                                      </td>
                                      <td class="text-primary">
                                          
                                      </td>
                                      <td>
                                        
                                    </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          
                                      </td>
                                      <td>
                                         
                                      </td>
                                      <td>
                                          
                                      </td>
                                      <td class="text-primary">
                                          
                                      </td>
                                      <td>
                                        
                                    </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          
                                      </td>
                                      <td>
                                         
                                      </td>
                                      <td>
                                         
                                      </td>
                                      <td class="text-primary">
                                          
                                      </td>
                                      <td>
                                        
                                    </td>
                                  </tr>
                                  <tr>
                                      <td>
                                         5
                                      </td>
                                      <td>
                                         
                                      </td>
                                      <td>
                                          
                                      </td>
                                      <td>
                                          
                                      </td>
                                      <td class="text-primary">
                                          
                                      </td>
                                      <td>
                                        
                                    </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              
                </div>
            </div>
          </div>
      </div>
  </div>
  