*<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Contrat  Information</h4>
                        <p class="card-category">Complete your Contrat Information</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Treetronix" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Username">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Email Driver " type="email">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Matriculation" type="text">
                                  </mat-form-field> 
                                </div>
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Brand" type="text">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Model" type="text">
                                    </mat-form-field>
                                  </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Contrat number" type="text">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="effective date" type="text">
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="date of circulation" type="text">
                                    </mat-form-field>
                                  </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Address" type="text">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="City" type="text">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder=" number of place " type="text">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <label>Note</label>
                                  <mat-form-field class="example-full-width">
                                     <textarea matInput placeholder=""></textarea>
                                   </mat-form-field>
                                    <!-- <div class="form-group">
  
                                        <div class="form-group">
                                            <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                            <textarea class="form-control" rows="5"></textarea>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Contrat Information</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            
         
        </div>
    </div>
    <div class="col-lg-12 col-md-12">
      <div class="card">
          <div class="card-header card-header-warning">
              <h4 class="card-title">Liste of Vehicules</h4>
              <p class="card-category">New Vehicules</p>
              <form class="navbar-form">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search...">
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </form>
          </div>
          <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                        <th>
                            Name
                        </th>
                        <th>
                            Matriculation
                        </th>
                        <th>
                            Brand
                        </th>
                        <th>
                            Car
                        </th>
                        <th>
                            Contrat
                        </th>
                        <th>
                          Date of circulation
                      </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Ali 
                            </td>
                            <td>
                                192 TU 2844 
                            </td>
                            <td>
                                Mercedes benz
                            </td>
                            <td>
                                1
                            </td>
                            <td class="text-primary">
                                VF7 SBHMZ0 EW554823
                            </td>
                            <td>
                              2022-02-05
                          </td>
  
                        </tr>
                        <tr>
                            <td>
                                Sami
                            </td>
                            <td>
                                192 TU 5744 
                            </td>
                            <td>
                                Audi
                            </td>
                            <td>
                                2
                            </td>
                            <td class="text-primary">
                                ZD4 SSCGZ0 FG7D64823
                            </td>
                            <td>
                              2022-02-09
                          </td>
                        </tr>
                        <tr>
                            <td>
                                Fares
                            </td>
                            <td>
                                193 TU 1234 
                            </td>
                            <td>
                                BMW
                            </td>
                            <td>
                                1
                            </td>
                            <td class="text-primary">
                                DG6 HFT35U 7ED64G823
                            </td>
                            <td>
                              2022-02-15
                          </td>
                        </tr>
                        <tr>
                            <td>
                                Amin
                            </td>
                            <td>
                                194 TU 0052 
                            </td>
                            <td>
                                Volkswagen
                            </td>
                            <td>
                                3
                            </td>
                            <td class="text-primary">
                                NK9 NB67KW XCVHB876
                            </td>
                            <td>
                              2022-02-20
                          </td>
                        </tr>
                        <tr>
                            <td>
                                Houssem
                            </td>
                            <td>
                                200 TU 7844 
                            </td>
                            <td>
                                Kia
                            </td>
                            <td>
                                1
                            </td>
                            <td class="text-primary">
                                8HK4 GFLCZ0 JK9G4L23
                            </td>
                            <td>
                              2022-02-28
                          </td>
                        </tr>
                        <tr>
                            <td>
                                Manel
                            </td>
                            <td>
                                202 TU 7787 
                            </td>
                            <td>
                                Peugeot
                            </td>
                            <td>
                                1
                            </td>
                            <td class="text-primary">
                                YC5 BGDMZ0 XW803297
                            </td>
                            <td>
                              2022-03-10
                          </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
      </div>
  </div>
  </div>
  