<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://treetronix.com/">
                        Treetronix
                    </a>
                </li>
                <li>
                    <a href="https://treetronix.com/#a-propos">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="https://treetronix.com/#contact">
                        contact
                    </a>
                </li>
                <li>
                    <a href="https://treetronix.com/#PARTENAIRES">
                        partenaires
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://treetronix.com/" target="_blank">Treetronix</a> for a better solution.
        </div>
    </div>
</footer>
